[Desktop Entry]
Icon=text-html
Name=https://www.kyoshin.bosai.go.jp/kyoshin/download/
Type=Link
URL[$e]=https://www.kyoshin.bosai.go.jp/kyoshin/download/
